.registrationPage {
  padding: 6rem 0 4rem 0;
}

.editFormButton {
  margin: 1rem 0;
  width: auto;
}

.registrationConfirmationButtonDiv {
  display: flex;
  justify-content: space-between;
}

.confirmationButton {
  margin: 1rem 0;
  width: auto;
}
