.navBar {
  height: 6rem;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

@media (max-width: 991px) {
  .navBar {
    height: 6rem;
  }
}

.logoDiv {
  position: absolute;
  left: 3rem;
  display: flex;
  align-items: center;
}

.navMenuIconDiv {
  position: absolute;
  right: 3rem;
  top: 0.5rem;
}

.menuIcon {
  font-size: 4rem;
}

.navMenuSpan {
  display: block;
}

.navLogo {
  height: 4rem !important;
}

@media (min-width: 991px) {
  .navMenuIconDiv {
    display: none;
  }
}

.menuItem {
  border-radius: 0.5rem;
  border: #228b22 1px solid;
}
